$main-btn: radial-gradient(177.6% 434.9% at 25.53% .47%,#ca042b  0%,#ca042b 100%);
$main-btn-radius: 15px;

$main-background: rgb(255,255,255);
$main-background-radial: radial-gradient(circle,rgb(255,255,255) 0%,rgb(251 242 227 / 27%) 19%,rgb(255,255,255) 71%,rgb(251 248 227 / 32%) 100%);

